{{#section 'css'}}

{{!-- ----------- --}}
{{!-- Import ZONE --}}
{{!-- ----------- --}}

{{/section}}

{{#section 'js'}}

{{!-- ----------- --}}
{{!-- Import ZONE --}}
{{!-- ----------- --}}



<script>
    jQuery(document).ready(function () {
        (function () {
            var showChar = 400;
            var ellipsesText = "...";

            //jQuery(".truncate").each(function () {
            //    var content = jQuery(this);
            //    var contentHTML = content.html();
            //    if (contentHTML.length > showChar) {
            //        var truncateText = contentHTML.substr(0, showChar);
            //        var fullText = contentHTML;
            //        var html =
            //            '<div class="truncate-text" style="display:block">' + truncateText +
            //            ellipsesText +
            //            '<div class="container-fluid" style="display: flex; justify-content: center;">' +
            //            '<button type="button" class="btn btn-primary moreless more">Show More</a>' +
            //            '</div>' +
            //            '</div>' +
            //            '<div class="truncate-text" style="display:none">' + fullText +
            //            '<div class="container-fluid" style="display: flex; justify-content: center;">' +
            //            '<button type="button" class="btn btn-primary moreless less">Show Less</a>' +
            //            '</div>' +
            //            '</div>';

            //        content.html(html);
            //    }
            //});

            jQuery(".moreless").click(function () {
                var thisEl = jQuery(this);
                var tX = ".truncate-text";
                var cT = thisEl.closest(tX);

                if (thisEl.hasClass("less")) {
                    console.log("Less");
                    cT.toggle();
                    cT.prev(tX).fadeToggle();
                } else {
                    console.log("More");
                    cT.toggle();
                    cT.next(tX).fadeToggle();
                }
                return false;
            });
            /* end iffe */

            jQuery('.content-btn').on('click', function () {
                jQuery(this).next('.showContent').find('li').toggle();
            });

            size_li = jQuery("#feedback-list li").length;
            cur_show = 3;
            jQuery('#showless-btn').hide();
            jQuery('#feedback-list li:lt(' + cur_show + ')').show();

            jQuery('#showmore-btn').click(function () {
                cur_show = (cur_show + 5 <= size_li) ? cur_show + 5 : size_li;
                jQuery('#feedback-list li:lt(' + cur_show + ')').show();
                jQuery('#showless-btn').show();
                if (cur_show == size_li) {
                    jQuery('#showmore-btn').hide();
                }
            });

            jQuery('#showless-btn').click(function () {
                cur_show = (cur_show - 5 < 0) ? 3 : cur_show - 5;
                jQuery('#feedback-list li').not(':lt(' + cur_show + ')').hide();
                jQuery('#showmore-btn').show();
                jQuery('#showless-btn').show();
                if (cur_show == 3) {
                    jQuery('#showless-btn').hide();
                }
            });

        })();

        /* end ready */
    });


</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function AddToWatchList() {
        const id = "{{detailCourse.id}}";
        $.post('/student/addToWatchList', { id: id }, function (data, status) {
            if (data) {
                swal("Add to watch list successfully!", {
                    icon: "success",
                    buttons: false,
                });
                setTimeout(() => { location.reload(); }, 1000);
            } else {
                swal("Something is wrong, please try again!", {
                    icon: "error",
                    buttons: false,
                });
            }
        });
    }
    function BuyNow() {
        swal({
            title: "Are you sure?",
            text: "Please confirm your choice!",
            icon: "info",
            buttons: true,
        }).then((value) => {
            if (value) {
                const id = "{{detailCourse.id}}";
                $.post('/student/buyNow', { id: id }, function (err, status) {
                    if (!err) {
                        swal("Buy successfully!", {
                            icon: "success",
                        });
                        setTimeout(() => { location.reload(); }, 1000);
                    } else {
                        swal("Something is wrong, please try again!", {
                            icon: "error",
                        });
                    }
                });
            }

        });
       
    }
    function stopVideo(element) {

        var iframe = element.find('iframe')[0];
        var video = element.find('video')[0];
        
        if (iframe) {
            var iframeSrc = iframe.src;
            iframe.src = iframeSrc;
        }
        if (video) {
            video.pause();
        }

    }

    function togglePopupVideo(video, activeState) {

        video = jQuery(video);
        video.toggleClass("active", activeState);
        if (!activeState) {
            stopVideo(video);
        }
    }

    function countChar(val) {
        var len = val.value.length;
        jQuery('#char-number').text(1024 - len);
    }

    
</script>

{{/section}}

<!-- Header -->
<header id="head" class="secondary">
    <div class="container">

        <h1>Courses</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing eliras scele!</p>

    </div>
</header>
<!-- ./Header -->
<!-- Main -->
<!-- Main panel -->
<div class="container-fluid">
    <div class="row">

        <div class="col-md-3">
            <div class="panel panel-default sidebar-categories">
                <div class="panel-heading">Categories</div>

                <div class="list-group">
                    {{#each listCourseFields}}
                    {{#if this.isActive}}
                    <a href="/course/byField/{{this.name}}/?page=1" class="list-group-item active">
                        {{else}}
                        <a href="/course/byField/{{this.name}}/?page=1" class="list-group-item">
                            {{/if}}
                            <span class="badge">{{this.courseNumber}}</span>
                            {{this.name}}
                        </a>
                        {{/each}}
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="panel panel-default main-categories">
                <div class="panel-heading">Course Details</div>

                <div class="container-fluid">
                    <!-- Cover image -->
                    <div id="cover-image-detail" class="row">
                        <div class="container">
                            {{!-- <img class="img-responsive center-block" src="/resource/public/lecturer/1.png"
                                alt="Cover Image"> --}}
                            <img class="img-responsive center-block" src="{{detailCourse.imagePath}}"
                                alt="Cover Image">

                            <div id="btn-list-detail" class="container-fluid">
                                {{#unless isInWatchList}}
                                <button id="add-to-wishlist-btn-detail" type="button" class="btn btn-primary" onclick="AddToWatchList()">
                                    Add to favorite&nbsp;
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                </button>
                                {{/unless}}
                                {{#unless isEnrolled}}
                                {{#unless isInCart}}
                                <button id="add-to-cart-btn-detail" type="button" class="btn btn-primary">
                                    Add to cart&nbsp;
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </button>
                                {{/unless}}
                                <button id="buy-now-btn-detail" type="button" class="btn btn-primary" onclick="BuyNow()">
                                    Buy now
                                </button>
                                {{/unless}}
                            </div>
                        </div>
                    </div>

                    <div id="course-info-detail" class="row">
                        <div class="container-fluid" id="details">
                            
                            <h1>
                                Details
                            </h1>

                            <h2>
                                Information
                            </h2>
                            <div id="title">
                                {{detailCourse.title}}
                            </div>
                            <div id="tuition-fee">
                                $ {{detailCourse.price}}
                            </div>
                            <div id="short-description">
                                {{detailCourse.briefDescription}}
                            </div>
                            <div id="field">
                                {{detailCourse.fieldName}}
                            </div>
                            <div id="lecturer">
                                Created by
                                <a href="#lecturerInfo">{{lecturer.name}}</a>
                            </div>
                            <div id="review">
                                <i class="fa fa-eye" aria-hidden="true"></i> Views {{detailCourse.view}},&nbsp;
                                <i class="fa fa-heart-o" aria-hidden="true"></i> Likes {{detailCourse.likes}},&nbsp;
                                <i class="fa fa-user" aria-hidden="true"></i> Students {{detailCourse.enrollNumber}}
                            </div>
                            <div id="last-update">
                                Last updated {{detailCourse.lastUpdate}}
                            </div>

                            <h2>
                                Description
                            </h2>
                            <div id="description" class="truncate">
                                {{{detailCourse.description}}}
                            </div>
                        </div>

                        <div class="container-fluid" id="content">
                            <h1>
                                Content
                            </h1>

                            <h2>
                                {{detailCourse.briefDescription}}
                            </h2>

                            <p>
                                <i class="fa fa-circle-o" aria-hidden="true"></i>
                                {{detailCourse.totalHours}} hours
                                <i class="fa fa-circle-o" aria-hidden="true"></i>
                                {{numberOfSection}} sections
                            </p>

                            <div class="list-group">
                                {{#each listSections}}
                                <div class="list-item">
                                    <button type="button" id="list-btn" class="btn btn-primary content-btn">
                                        <i class="fa fa-angle-down pull-right" aria-hidden="true"></i>
                                        Section {{this.id}}
                                    </button>
                                    <ul class="showContent">
                                        <li>
                                            {{#with this.preview}}
                                            <div id="preview-duration{{../id}}" class="pull-right"></div>
                                            <a href="#currentvideo" onclick="togglePopupVideo(preview{{../id}}, true);">
                                                Preview
                                            </a>
                                            <div class="popupVideo" id="preview{{../id}}">
                                                <video src="{{../preview}}" type="video/mp4"
                                                       controls="true"></video>
                                                <img src="/views/assets/images/closebutton.png" class="close-btn"
                                                     onclick="togglePopupVideo(preview{{../id}}, false);">
                                            </div>
                                            <script type="text/javascript">
                                                function RenderDuration(videoId, durationId) {
                                                    document.getElementById(`${videoId}`).children[0].onloadedmetadata = function () {
                                                        const duration_s = this.duration;
                                                        const min = Math.floor(duration_s / 60);
                                                        const sec = Math.ceil(duration_s % 60);
                                                        const duration = min.toString().padStart(2, 0) + ':' + sec.toString().padStart(2, 0);
                                                        document.getElementById(durationId).textContent = duration;
                                                    };
                                                }
                                                RenderDuration("preview{{../id}}", "preview-duration{{../id}}");
                                                
                                            </script>
                                            {{/with}}

                                        </li>
                                        <li>
                                            {{#if ../isEnrolled}}
                                            <div id="lecture-duration{{this.id}}" class="pull-right"></div>
                                            <a href="#currentvideo" onclick="togglePopupVideo(lecture{{this.id}}, true);">
                                                {{this.title}}
                                            </a>
                                            {{else}}
                                            <div id="lecture-duration{{this.id}}" class="pull-right"></div>
                                            {{this.title}}
                                            {{/if}}

                                            <div class="popupVideo" id="lecture{{this.id}}">
                                                <video src="/resource/private/course/{{../detailCourse.id}}/{{this.id}}.mp4" type="video/mp4" controls="true"></video>
                                                <img src="/views/assets/images/closebutton.png" class="close-btn"
                                                     onclick="togglePopupVideo(lecture{{this.id}}, false);">
                                            </div>

                                            <script type="text/javascript">
                                                function RenderDuration(videoId, durationId) {
                                                    document.getElementById(`${videoId}`).children[0].onloadedmetadata = function () {
                                                        const duration_s = this.duration;
                                                        const min = Math.floor(duration_s / 60);
                                                        const sec = Math.ceil(duration_s % 60);
                                                        const duration = min.toString().padStart(2, 0) + ':' + sec.toString().padStart(2, 0);
                                                        document.getElementById(durationId).textContent = duration;
                                                    };
                                                }
                                                RenderDuration("lecture{{this.id}}", "lecture-duration{{this.id}}");
                                            </script>
                                        </li>
                                    </ul>
                                </div>
                                {{/each}}

                            </div>
                        </div>

                        <div class="container-fluid" id="related-courses">
                            <h1>
                                Related Courses
                            </h1>
                            {{#each relatedCourses}}
                            <div id="related-course" class="media">
                                <div id="related-course-img" class="pull-left">
                                    <img class="media-object" src="{{imagePath}}" alt="Hello">
                                    <a id="related-course-transaction-btn" href="/course/detail/{{id}}" class="btn btn-primary"
                                        role="button">
                                        Details
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        <div id="fee-related-course" class="pull-right">$ {{price}}</div>
                                        {{title}}
                                    </h4>
                                    <div id="description">
                                        {{briefDescription}}
                                    </div>
                                    <div id="field">
                                        {{fieldName}}
                                    </div>
                                    <div id="lecturers">
                                        {{lecturerName}}
                                    </div>
                                    <div id="reviews">
                                        <i class="fa fa-eye" aria-hidden="true"></i> Views {{view}},&nbsp;
                                        <i class="fa fa-heart-o" aria-hidden="true"></i> Likes {{likes}},&nbsp;
                                        <i class="fa fa-user" aria-hidden="true"></i> Students {{enrollNumber}}
                                    </div>
                                </div>
                            </div>
                            {{/each}}
                        </div>

                        <div class="container-fluid" id="lecturers">
                            <h1 id="lecturerInfo">
                                Lecturers
                            </h1>
                            {{#with lecturer}}
                            <div id="lecturer" class="media">
                                <div id="lecturer-img" class="pull-left">
                                    <img class="media-object" src="/resource/public/lecturer/{{id}}.png" alt="portfolio">
                                </div>
                                <div class="media-body">
                                    <h4 id="lecturer-name" class="media-heading">
                                        {{name}}
                                    </h4>
                                    <div id="lecturer-mail">
                                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                        {{email}}
                                    </div>
                                    <div id="lecturer-phone">
                                        <i class="fa fa-phone" aria-hidden="true"></i>
                                        {{phone_number}}
                                    </div>
                                    <div id="lecturer-universe">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        {{university}}
                                    </div>
                                </div>
                            </div>
                            {{/with}}
                        </div>

                        <div class="container-fluid" id="feedbacks">
                            <h1>
                                Feedbacks
                            </h1>

                            {{#if isEnrolled}}
                            <div class="container-fluid" id="feedback-form">
                                <div class="row" id="user-name">
                                    <h3>
                                        {{user.name}}
                                    </h3>
                                </div>

                                <form role="form" method="POST">
                                    <div class="row" id="feedback-section">
                                        <textarea name="userfeedback" class="form-control" rows="3" maxlength="1024"
                                                  placeholder="Your feedback..." onkeyup="countChar(this)"></textarea>
                                        <div id="char-number">1024</div>
                                    </div>

                                    <div class="row" id="form-submit-btn">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>

                            </div>
                            {{/if}}

                            <div class="container-fluid" id="feedbacks">
                                <ul class="list-group" id="feedback-list">
                                    {{#each listFeedbacks}}
                                    <li class="list-group-item">
                                        <h3>{{this.name}}</h3>
                                        <h4>{{this.date}}</h4>
                                        {{{this.comment}}}
                                    </li>
                                    {{/each}}
                                </ul>

                                <div id="showmore-btn" class="container-fluid">
                                    <button class="btn btn-primary">
                                        Show More
                                    </button>
                                </div>


                                <div id="showless-btn" class="container-fluid">
                                    <button class="btn btn-primary">
                                        Show Less
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>