{{#section 'js'}}
<script>
    function NextPage() {
        const pageActive = parseInt(jQuery(".pagination")[0].querySelector(".active").textContent) + 1;
        const maxPage = jQuery(".pagination")[0].querySelectorAll("li").length - 2;
        if (pageActive - 1 >= maxPage)
            return;
        const url = `?page=${pageActive}`;
        location.replace(url);

    }

    function PreviousPage() {
        const pageActive = parseInt(jQuery(".pagination")[0].querySelector(".active").textContent) - 1;
        if (pageActive + 1 <= 1)
            return;
        const url = `?page=${pageActive}`;
        location.replace(url);
    }
    jQuery(function () {
        const pagination = jQuery(".pagination")[0];
        if (pagination === null || pagination === undefined) {
            return;
        }
        const pageActive = parseInt(pagination.querySelector(".active").textContent);
        const maxPage = pagination.querySelectorAll("li").length - 2;
        if (pageActive <= 1) {
            pagination.querySelector("#previousPage").className += "disabled";
        }
        if (pageActive >= maxPage) {
            pagination.querySelector("#nextPage").className += "disabled";
        }
    });
</script>
{{/section}}

<!-- Header -->
<header id="head" class="secondary">
    <div class="container">

        <h1>Courses</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing eliras scele!</p>

    </div>
</header>
<!-- ./Header -->
<!-- Main -->
<!-- Main panel -->
<div class="container-fluid">
    <div class="row">

        <div class="col-md-3">
            <div class="panel panel-default sidebar-categories">
                <div class="panel-heading">Categories</div>

                <div class="list-group">
                    {{#each listCourseFields}}
                    {{#if this.isActive}}
                    <a href="/course/byField/{{this.name}}/?page=1" class="list-group-item active">
                        {{else}}
                        <a href="/course/byField/{{this.name}}/?page=1" class="list-group-item">
                            {{/if}}
                            <span class="badge">{{this.courseNumber}}</span>
                            {{this.name}}
                        </a>
                        {{/each}}
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="panel panel-default main-categories">
                <div class="panel-heading">Most popular</div>

                <div id="carousel-simple" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        {{#each listHighlightCourse}}
                        {{#if @first}}
                        <li data-target="#carousel-simple" data-slide-to={{this.rowNumber}} class="active"></li>
                        {{else}}
                        <li data-target="#carousel-simple" data-slide-to={{this.rowNumber}}></li>
                        {{/if}}
                        {{/each}}
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        {{#each listHighlightCourse}}
                        {{#if @first}}
                        <a href="/course/detail/{{this.id}}" class="item active">
                            {{else}}
                            <a href="/course/detail/{{this.id}}" class="item">
                                {{/if}}
                                <div class="cat-bg">
                                    <div class="cat-title noselect">
                                        {{this.title}}
                                    </div>
                                    <div class="cat-field noselect">
                                        {{this.fieldName}}
                                    </div>
                                    <div class="cat-lecturer noselect">
                                        {{this.lecturerName}}
                                    </div>
                                    <div class="cat-price noselect">
                                        $ {{this.price}}
                                    </div>
                                </div>

                                <div class="container">
                                    <img class="img-responsive center-block"
                                        src="/resource/public/course/{{this.id}}/photo.png">
                                </div>
                            </a>
                            {{/each}}
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-simple" role="button" data-slide="prev">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </a>
                    <a class="right carousel-control" href="#carousel-simple" role="button" data-slide="next">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                </div>

            </div>

            <div id="cat-all" class="panel panel-default main-categories">
                <div class="panel-heading">All Courses</div>

                <div id="cat-courses" class="container-fluid">
                    <div class="row">
                        {{#each listCourse}}
                        <div id="course" class="col-md-4">

                            <div class="thumbnail">
                                <div class="container">
                                    <img class="img-responsive center-block"
                                        src="/resource/public/course/{{this.id}}/photo.png" alt="Course Image">
                                </div>

                                <div class="caption">
                                    <div id="cat-course-caption">
                                        <p>{{this.title}}</p>
                                    </div>
                                    <div id="cat-course-price">
                                        <p>$ {{this.price}}</p>
                                    </div>
                                    <div id="cat-course-field">
                                        <p>{{this.fieldName}}</p>
                                    </div>
                                    <div id="cat-course-lecturer">
                                        <p>{{this.lecturerName}}</p>
                                    </div>
                                    <div id="cat-course-status">
                                        <p>Complete</p>
                                    </div>
                                    <div id="cat-course-review">
                                        <p>
                                            {{this.likes}} likes &nbsp;
                                            <i class="fa fa-thumbs-up"></i>
                                        </p>
                                    </div>

                                    <p id="cat-transaction-btn">
                                        <a href="/course/detail/{{this.id}}" class="btn btn-primary" role="button">
                                            Details
                                        </a>
                                    </p>
                                </div>

                            </div>
                        </div>
                        {{/each}}
                        <!--<div id="course" class="col-md-4">

                            <div class="thumbnail">
                                <div class="container">
                                    <img class="img-responsive center-block" src="/views/assets/images/photo-1.jpg"
                                        alt="...">
                                </div>

                                <div class="caption">
                                    <div id="cat-course-caption">
                                        <p>Course Name Too Long Too Long  Too Long Too Long  Too Long Too Long  Too Long Too Long </p>
                                    </div>
                                    <div id="cat-course-price">
                                        <p>$ 0.00</p>
                                    </div>
                                    <div id="cat-course-field">
                                        <p>Field</p>
                                    </div>
                                    <div id="cat-course-lecturer">
                                        <p>Lecturer Lecturer Lecturer Lecturer Lecturer</p>
                                    </div>
                                    <div id="cat-course-review">
                                        <p>
                                            1000 likes &nbsp;
                                            <i class="fa fa-thumbs-up"></i>
                                        </p>
                                    </div>

                                    <p id="cat-transaction-btn">
                                        <a href="#" class="btn btn-primary" role="button">
                                            Details
                                        </a>
                                    </p>
                                </div>

                            </div>
                        </div>-->

                    </div>
                </div>
                {{#with pageNumbers}}
                <ul class="pagination">
                    <li id="previousPage"><a href="javascript:PreviousPage();" class="disable">&laquo;</a></li>
                    {{#each this}}
                    {{#if this.isActive}}
                    <li class="active"><a href="?page={{this.value}}">{{this.value}} <span
                                class="sr-only">(current)</span></a></li>
                    {{else}}
                    <li><a href="?page={{this.value}}">{{this.value}}</a></li>
                    {{/if}}
                    {{/each}}
                    <li id="nextPage"><a href="javascript:NextPage();">&raquo;</a> </li>
                </ul>
                {{/with}}
            </div>
        </div>

    </div>

</div>