{{#section 'js'}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function NextPage() {
        const pageActive = parseInt(jQuery(".pagination")[0].querySelector(".active").textContent) + 1;
        const maxPage = jQuery(".pagination")[0].querySelectorAll("li").length - 2;
        if (pageActive - 1 >= maxPage)
            return;
        const url = `?page=${pageActive}`;
        location.replace(url);

    }

    function PreviousPage() {
        const pageActive = parseInt(jQuery(".pagination")[0].querySelector(".active").textContent) - 1;
        if (pageActive + 1 <= 1)
            return;
        const url = `?page=${pageActive}`;
        location.replace(url);
    }
    jQuery(function () {
        const pagination = jQuery(".pagination")[0];
        if (pagination === null || pagination === undefined) {
            return;
        }
        const pageActive = parseInt(pagination.querySelector(".active").textContent);
        const maxPage = pagination.querySelectorAll("li").length - 2;
        if (pageActive <= 1) {
            pagination.querySelector("#previousPage").className += "disabled";
        }
        if (pageActive >= maxPage) {
            pagination.querySelector("#nextPage").className += "disabled";
        }
    });
    jQuery("#search-form").on("submit", function () {
        event.preventDefault();
        Search();
    })
    var fillByName = false;
    var fillByField = false;
    var fillBySubField = false;
    var courseTemplate = jQuery("#course-template");
    var courseContainer = jQuery("#course-container");
    function Search() {
        const searchString = jQuery("#search-input").val();
        if (searchString === "")
            return location.replace('/categories');
        $.post('/course/search', { searchString: searchString,fillByName: fillByName,fillByField: fillByField,fillBySubField: fillBySubField }, function (data, status) {
            if (data.length !== 0) {
                courseContainer.empty();
                for (var i = 0; i < data.length; i++) {
                    const course = courseTemplate.clone();
                    course.find("img").attr("src", data[i].imagePath);
                    course.find("#cat-course-caption").children("p")[0].innerHTML = data[i].title;
                    course.find("#cat-course-price").children("p")[0].innerHTML = `$ ${data[i].price}`;
                    course.find("#cat-course-field").children("p")[0].innerHTML = `${data[i].fieldName}`;
                    course.find("#cat-course-lecturer").children("p")[0].innerHTML = `${data[i].lecturerName}`;
                    course.find("#cat-course-status").children("p")[0].innerHTML = `${data[i].status}`;
                    course.find("#cat-course-review").children("p")[0].innerHTML = `${data[i].numOfStudent} students <i class="fa fa-user" aria-hidden="true"></i>`;
                    course.find("#cat-course-review").children("p")[2].innerHTML = `${data[i].likes} likes <i class="fa fa-thumbs-up"></i>`;
                    course.find("#cat-transaction-btn").children("a").attr("href", `/course/detail/${data[i].id}`);
                    course.removeAttr("hidden");
                    course.appendTo(courseContainer);
                }
                console.log(jQuery("ul.pagination").remove());
            } else {
                DisplayError("Can not find course");
            }
        })
    }

    function Fill(fillter) {
        console.log(fillter);
        if (fillter === 'name') {
            fillByName = !fillByName;
        }
        else if (fillter === 'field') {
            fillByField = !fillByField;
        }
        else {
            fillBySubField = !fillBySubField;
        }
    }
    function DisplayError(message) {
        swal(message, {
            icon: "error",
            buttons: "OK",
        });
    }
    function Ban(button) {
        Warning("Disable this course?", () => {
            const courseId = jQuery(button).data("id");
            $.post('/admin/ban/course', { courseId: courseId }, function (err, data) {
                if (!err) {
                    swal(`Success`, {
                        icon: "success",
                        buttons: "OK",
                    }).then(() => {
                        //jQuery(button).prev().css("display", "");
                        //jQuery(button).css("display", "none");
                        location.reload();
                    });

                }
                else {
                    DisplayError(err.message);
                }
            })
        })
    }
    function RemoveBan(button) {
        Warning("Enable this course?", () => {
            const courseId = jQuery(button).data("id");
            $.post('/admin/unlock/course', { courseId: courseId }, function (err, data) {
                if (!err) {
                    swal(`Success`, {
                        icon: "success",
                        buttons: "OK",
                    }).then(() => {
                        location.reload();
                        //jQuery(button).next().css("display", "");
                        //jQuery(button).css("display", "none");
                    });
                }
                else {
                    DisplayError(err.message);
                }
            })
        });
    }
    function Warning(message, callback) {
        swal({
            title: "Are you sure?",
            text: message,
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {
                callback();
            }
        });
    }
</script>
{{/section}}

<!-- Header -->
<header id="head" class="secondary">
    <div class="container">

        <h1>Courses</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing eliras scele!</p>

    </div>
</header>
<!-- ./Header -->
<!-- Main -->
<!-- Main panel -->
<div class="container-fluid">
    <div class="row">

        <div class="col-md-3">
            <div class="panel panel-default sidebar-categories">
                <div class="panel-heading">Categories</div>

                <div class="list-group">
                    {{#each listCourseFields}}
                    {{#if this.isActive}}
                    <a href="/course/byField/{{this.name}}/?page=1" class="list-group-item active">
                        {{else}}
                        <a href="/course/byField/{{this.name}}/?page=1" class="list-group-item">
                            {{/if}}
                            <span class="badge">{{this.courseNumber}}</span>
                            {{this.name}}
                        </a>
                        {{/each}}
                </div>
            </div>

            <div class="panel panel-default sidebar-categories">
                <div class="panel-heading">Search</div>

                <div class="list-group">
                    <form id="search-form" method="POST">
                        <div id="search-feature-container" class="list-group-item">
                            <div id="search-feature" class="input-group">
                                <input id="search-input" type="text" class="form-control">
                                <span id="search-button-container" class="input-group-btn">
                                    <a id="search-button" class="btn btn-primary" type="button" onclick="Search()">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="checkbox">
                                <label><input type="checkbox" value="" onclick="Fill('name')">Name</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" onclick="Fill('field')">Field</label>
                            </div>
                            <div class="checkbox">
                                <label><input type="checkbox" value="" onclick="Fill('subField')">Subfield</label>
                            </div>
                        </div>

                    </form>

                </div>
            </div>

        </div>

        <div class="col-md-9">
            <div class="panel panel-default main-categories">
                <div class="panel-heading">Newest Courses</div>

                <div id="carousel-simple" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        {{#each listHighlightCourse}}
                        {{#if @first}}
                        <li data-target="#carousel-simple" data-slide-to={{this.rowNumber}} class="active"></li>
                        {{else}}
                        <li data-target="#carousel-simple" data-slide-to={{this.rowNumber}}></li>
                        {{/if}}
                        {{/each}}
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        {{#each listHighlightCourse}}
                        {{#if @first}}
                        <a href="/course/detail/{{this.id}}" class="item active">
                            {{else}}
                            <a href="/course/detail/{{this.id}}" class="item">
                                {{/if}}
                                <div class="cat-bg">
                                    <div class="cat-title noselect">
                                        {{this.title}}
                                    </div>
                                    <div class="cat-field noselect">
                                        {{this.fieldName}}
                                    </div>
                                    <div class="cat-lecturer noselect">
                                        {{this.lecturerName}}
                                    </div>
                                    <div class="cat-price noselect">
                                        $ {{this.price}}
                                    </div>
                                </div>

                                <div class="container">
                                    <img class="img-responsive center-block"
                                         src="/resource/public/course/{{this.id}}/photo.png">
                                </div>
                            </a>
                            {{/each}}
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-simple" role="button" data-slide="prev">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </a>
                    <a class="right carousel-control" href="#carousel-simple" role="button" data-slide="next">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </a>
                </div>

            </div>

            <div id="cat-all" class="panel panel-default main-categories">
                <div class="panel-heading">All Courses</div>

                <div id="cat-courses" class="container-fluid">
                    <div id="course-container" class="row">
                        {{#each listCourse}}
                        <div id="course" class="col-md-4">

                            <div class="thumbnail">
                                <div class="container">
                                    <img class="img-responsive center-block"
                                         src="/resource/public/course/{{this.id}}/photo.png" alt="Course Image">
                                </div>

                                <div class="caption">
                                    <div id="cat-course-caption">
                                        <p>{{this.title}}</p>
                                    </div>
                                    <div id="cat-course-price">
                                        <p>$ {{this.price}}</p>
                                    </div>
                                    <div id="cat-course-field">
                                        <p>{{this.fieldName}}</p>
                                    </div>
                                    <div id="cat-course-lecturer">
                                        <p>{{this.lecturerName}}</p>
                                    </div>
                                    <div id="cat-course-status">
                                        <p>{{this.status}}</p>
                                    </div>
                                    <div id="cat-course-review">
                                        <p>
                                            {{this.numOfStudent}} students &nbsp;
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                        </p>
                                        <p>
                                            &nbsp; &nbsp;
                                        </p>
                                        <p>
                                            {{this.likes}} likes &nbsp;
                                            <i class="fa fa-thumbs-up"></i>
                                        </p>
                                    </div>

                                    <div id="cat-transaction-admin-btn" class="container">
                                        <a id="details-button" href="/course/detail/{{this.id}}" class="btn btn-primary"
                                            role="button">
                                            Details
                                        </a>
                                        
                                        {{#if (eq ../user.role 'admin')}}
                                        {{#if this.available}}
                                        <a id="remove-ban-button" onclick="RemoveBan(this)" class="btn btn-success" role="button"
                                            style="display: none;" data-id="{{this.id}}">
                                            Remove Ban
                                        </a>
                                        <a id="ban-button" onclick="Ban(this)" class="btn btn-danger" role="button" data-id="{{this.id}}">
                                            Ban
                                        </a>
                                        {{else}}
                                        <a id="remove-ban-button" onclick="RemoveBan(this)" class="btn btn-success" role="button" data-id="{{this.id}}">
                                            Remove Ban
                                        </a>
                                        <a id="ban-button" onclick="Ban(this)" class="btn btn-danger" role="button" style="display: none;" data-id="{{this.id}}">
                                            Ban
                                        </a>
                                        {{/if}}
                                        {{/if}}
                                    </div>

                                </div>

                            </div>
                        </div>
                        {{/each}}

                        <div id="course-template" class="col-md-4" hidden>
                            <div class="thumbnail">
                                <div class="container">
                                    <img class="img-responsive center-block" src="/views/assets/images/photo-1.jpg"
                                        alt="...">
                                </div>

                                <div class="caption">
                                    <div id="cat-course-caption">
                                        <p>Course Name Too Long Too Long  Too Long Too Long  Too Long Too Long  Too Long Too Long </p>
                                    </div>
                                    <div id="cat-course-price">
                                        <p>$ 0.00</p>
                                    </div>
                                    <div id="cat-course-field">
                                        <p>Field</p>
                                    </div>
                                    <div id="cat-course-lecturer">
                                        <p>Lecturer Lecturer Lecturer Lecturer Lecturer</p>
                                    </div>
                                    <div id="cat-course-status">
                                        <p>Complete</p>
                                    </div>
                                    <div id="cat-course-review">
                                        <p>
                                            100 students &nbsp;
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                        </p>
                                        <p>
                                            &nbsp; &nbsp;
                                        </p>
                                        <p>
                                            1000 likes &nbsp;
                                            <i class="fa fa-thumbs-up"></i>
                                        </p>
                                    </div>
                                    
                                    {{#if (eq user.role 'admin')}}
                                    <div id="cat-transaction-admin-btn" class="container">
                                        <a id="details-button" href="/course/detail/{{this.id}}" class="btn btn-primary"
                                            role="button">
                                            Details
                                        </a>
                                        {{#if this.available}}
                                        <a id="remove-ban-button" onclick="RemoveBan(this)" class="btn btn-success" role="button"
                                            style="display: none;" data-id="{{this.id}}">
                                            Remove Ban
                                        </a>
                                        <a id="ban-button" onclick="Ban(this)" class="btn btn-danger" role="button" data-id="{{this.id}}">
                                            Ban
                                        </a>
                                        {{else}}
                                        <a id="remove-ban-button" onclick="RemoveBan(this)" class="btn btn-success" role="button" data-id="{{this.id}}">
                                            Remove Ban
                                        </a>
                                        <a id="ban-button" onclick="Ban(this)" class="btn btn-danger" role="button" style="display: none;" data-id="{{this.id}}">
                                            Ban
                                        </a>
                                        {{/if}}
                                    </div>
                                    {{else}}
                                    <p id="cat-transaction-btn">
                                        <a href="#" class="btn btn-primary" role="button">
                                            Details
                                        </a>
                                    </p>
                                    {{/if}}
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                {{#with pageNumbers}}
                <ul class="pagination">
                    <li id="previousPage"><a href="javascript:PreviousPage();" class="disable">&laquo;</a></li>
                    {{#each this}}
                    {{#if this.isActive}}
                    <li class="active">
                        <a href="?page={{this.value}}">
                            {{this.value}} <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    {{else}}
                    <li><a href="?page={{this.value}}">{{this.value}}</a></li>
                    {{/if}}
                    {{/each}}
                    <li id="nextPage"><a href="javascript:NextPage();">&raquo;</a> </li>
                </ul>
                {{/with}}
            </div>
        </div>

    </div>

</div>