{{#section 'js'}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    function EditProfile() {
        jQuery(":input:disabled").each(function(index) {
            this.removeAttribute("disabled");
        });
        jQuery("#edit-profile").css("display", "none");
        jQuery("#heading-information-save-btn").css("display", "inherit");
    }
    function DisplayError(message) {
        swal(message, {
            icon: "error",
            buttons: "OK",
        });
    }
    function IsValidInput(name,phoneNumber,email) {
        if (name.length === 0) {
            DisplayError("Name is empty!");
            return false;
        }
        if (phoneNumber.length === 0) {
            DisplayError("Phone number is empty!");
            return false;
        }
        if (email.length === 0) {
            DisplayError("Email is empty!");
            return false;
        }
        if (!name.match(/^[A-Za-z\s]+$/)) {
            DisplayError("Name can contain alphabet characters only");
            return false;
        }
        if (!phoneNumber.match(/^[0-9\s]+$/)) {
            DisplayError("Phone number can contain number and space only");
            return false;
        }
        return true;
    }
    function SaveProfile(){
        const name = jQuery("#main-information-name").val();
        const phoneNumber = jQuery("#main-information-phone-number").val();
        const email = jQuery("#main-information-email").val();
        if (IsValidInput(name,phoneNumber,email)) {
            $.post('/student/editProfile/communication', { name: name, phoneNumber: phoneNumber, email: email }, function (err, status) {
                if (err === null) {
                    swal("Change profile successfully", {
                        icon: "success",
                    });
                    setTimeout(() => { location.reload(); }, 1000);
                }
                else {
                    DisplayError(err);
                }
            });
        }
    }
</script>
{{/section}}

<!-- Header -->
<header id="head" class="secondary">
    <div class="container">

        <h1>Profile</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing eliras scele!</p>

    </div>
</header>
<!-- ./Header -->
<!-- Main -->
<!-- Main panel -->
<div class="container-fluid">
    <div class="row">

        <div class="col-md-3">
            <div id="user-sidebar" class="panel panel-default sidebar-categories">
                <div class="panel-heading">My account</div>

                <div class="list-group">
                    <a href="/student/info" class="list-group-item active">
                        Profile
                    </a>

                    <a href="/student/myWatchList" class="list-group-item">
                        Favorite
                        <span class="badge">{{watchListSize}}</span>
                    </a>

                    <a href="/student/enrolledCourses" class="list-group-item">
                        Enrollment
                        <span class="badge">{{enrolledCoursesSize}}</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div id="user-information" class="panel panel-default main-categories">

                <div class="panel-heading">
                    <div id="heading-information-container" class="container-fluid">

                        <div id="heading-information-container-row-profile" class="row">
                            <div id="heading-information-profile" class="col-md-3">
                                My information
                            </div>
                            <div id="heading-information-btn-group" class="col-md-9">
                                <a class="btn btn-primary" href="/student/editProfile/password" type="button">
                                    Change Password
                                </a>
                                <a id="edit-profile" class="btn btn-primary" href="javascript:EditProfile()" type="button">
                                    Edit
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                                <a id="heading-information-save-btn" class="btn btn-success" href="javascript:SaveProfile()" type="button">
                                    Save
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="main-information-container" class="container-fluid">
                    <div class="row">
                        <div id="main-information-input-group" class="input-group">
                            <label for="main-information-name">Name</label>
                            <input id="main-information-name" type="text" class="form-control" placeholder="Name"
                                   value="{{user.name}}" onkeypress="return /[a-z\s]/i.test(event.key);" maxlength="50" disabled>
                        </div>
                    </div>

                    <div class="row">
                        <div id="main-information-input-group" class="input-group">
                            <label for="main-information-phone-number">Phone Number</label>
                            <input id="main-information-phone-number" type="tel" class="form-control" placeholder="Name"
                                   value="{{user.phoneNumber}}" onkeypress="return /[0-9\s]/i.test(event.key)" maxlength="16" disabled>
                        </div>
                    </div>

                    <div class="row">
                        <div id="main-information-input-group" class="input-group">
                            <label for="main-information-email">Email</label>
                            <input id="main-information-email" type="email" class="form-control" placeholder="Name"
                                   value="{{user.email}}" maxlength="50" disabled>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>