<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="webThemez.com">

    <title>EduHub</title>

    <link rel="favicon" href="/views/assets/images/favicon.png">
    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">

    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="/views/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/views/assets/css/bootstrap-theme.css" media="screen">

    <!--Custom CSS-->
    <link rel="stylesheet" href="/views/assets/css/style.css">
    <link rel="stylesheet" id="camera-css" href="/views/assets/css/camera.css" type="text/css" media="all">

    <!--Fontawesome-->
    <link rel="stylesheet" href="/views/assets/css/font-awesome.min.css">

    <!-- DEFINE A 'css' SECTION -->
    {{{_sections.css}}}
</head>

<body>
    <!-- Fixe"d navbar -->
    <div id="navi-bar" class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="/views/assets/images/logo.png" alt="EduHub">
                </a>
            </div>

            <div class="navbar-collapse collapse">
                <ul id="navi-selections" class="nav navbar-nav pull-right mainNav">

                    <li id="home">
                        <a href="/">Home</a>
                    </li>

                    <li class="dropdown" id="categories">
                        <a class="dropdown-toggle noselect disabled" role="button" data-toggle="dropdown">
                            Categories
                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            {{log listCourseFields}}
                            {{#each listCourseFields}}
                            {{#if this.empty}}
                            <li>
                                <a class="dropdown-item" href='/course/byField/{{this.name}}/?page=1'>{{this.name}}</a>
                            </li>
                            {{else}}
                            <li class="subdropdown">
                                <a href="/course/byField/{{this.name}}/?page=1"
                                    class="dropdown-toggle noselect disabled" role="button" data-toggle="subdropdown">
                                    {{this.name}}
                                </a>
                                <ul class="dropdown-submenu">
                                    {{#each this.listTheme}}
                                    <li>
                                        <a class="dropdown-item"
                                            href='/course/byTheme/{{this.name}}/?page=1'>{{this.name}}</a>
                                    </li>
                                    {{/each}}
                                </ul>

                            </li>
                            {{/if}}
                            {{/each}}
                        </ul>
                    </li>

                    <li id="about">
                        <a href="/about">
                            About
                        </a>
                    </li>

                    <li id="contact">
                        <a href="/contact">
                            Contact
                        </a>
                    </li>

                    {{#if isAuthorized}}
                    {{#if (eq user.role 'student')}}
                    <li id="cart">
                        <a href="#">
                            Cart
                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </a>
                    </li>
                    {{/if}}
                    <li class="dropdown" id="user-preferences">
                        <a class="dropdown-toggle noselect disabled" role="button" data-toggle="dropdown">
                            Hi, <b>{{user.name}}</b>
                            <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            

                            {{#if (eq user.role 'student')}}
                            {{!-- Student --}}
                            <li>
                                <a class="dropdown-item" id="profile" href="/student/info">
                                    Profile 
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" id="favorite" href="/student/myWatchList">
                                    Favorite 
                                </a>
                            </li>
                            {{/if}}
                            {{#if (eq user.role 'lecturer')}}
                            {{!-- Lecturer --}}
                            <li>
                                <a class="dropdown-item" id="profile" href="/lecturer/info">
                                    Profile 
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" id="lectures" href="/lecturer/lectures">
                                    Lectures 
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" id="add-course" href="/lecturer/addCourse">
                                    Add new course 
                                </a>
                            </li>
                            {{/if}}
                            <li>
                                <form id="signout-form" method="POST" action="/user/logout">
                                    <a class="dropdown-item" id="signout" href="javascript:jQuery('#signout-form').submit()">
                                        Sign out                                   
                                    </a>
                                </form>
                            </li>
                        </ul>
                    </li>

                    {{else}}
                    <li id="register">
                        <a href="/user/register">
                            Register
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li id="login">
                        <a href="/user/login">
                            Login
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                        </a>
                    </li>
                    {{/if}}

                </ul>

            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <!-- /.navbar -->
    <!-- Main body -->
    {{{body}}}
    <!-- /.Main body -->
    <!-- Footer -->
    {{> footer}}
    <!-- /.Footer -->
    <!-- Optional JavaScript -->
    <script src="/views/assets/js/modernizr-latest.js"></script>
    <script type="text/javascript" src="/views/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="/views/assets/js/fancybox/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="/views/assets/js/jquery.mobile.customized.min.js"></script>
    <script type="text/javascript" src="/views/assets/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/views/assets/js/camera.min.js"></script>
    <script src="/views/assets/js/bootstrap.min.js"></script>
    <script src="/views/assets/js/custom.js"></script>

    <script>
        {{{ _sections.camera_wrap }}}

        jQuery(() => {
            const currentView = '{{currentView}}';
            jQuery(currentView).addClass("active");
        });
    </script>
    <!-- DEFINE A 'js' SECTION -->
    {{{_sections.js}}}
</body>

</html>