<!-- Import -->
{{#section 'camera_wrap'}}
jQuery(() => {
jQuery('#camera_wrap_4').camera({
transPeriod: 500,
time: 3000,
height: '600',
loader: 'false',
pagination: true,
thumbnails: false,
hover: false,
playPause: false,
navigation: false,
opacityOnGrid: false,
imagePath: 'views/assets/images/'
});

});
{{/section}}


<!-- Header -->
<header id="head">
    <div class="container">

        <!-- Title -->
        <div class="heading-text">
            <h1 class="animated flipInY delay1">
                Start Online Education
            </h1>
            <p>Free Online education template for elearning and online education institute.</p>
        </div>

        <!-- Slider -->
        <div class="fluid_container">
            <div class="camera_wrap camera_emboss pattern_1" id="camera_wrap_4">

                <!-- 1st Slide -->
                <div data-thumb="views/assets/images/slides/thumbs/img1.jpg"
                    data-src="views/assets/images/slides/img1.jpg">
                </div>

                <!-- 2nd Slide -->
                <div data-thumb="views/assets/images/slides/thumbs/img2.jpg"
                    data-src="views/assets/images/slides/img2.jpg">
                </div>

                <!-- 3rd Slide -->
                <div data-thumb="views/assets/images/slides/thumbs/img3.jpg"
                    data-src="views/assets/images/slides/img3.jpg">
                </div>

            </div>
        </div>

    </div>
</header>
<!-- /.Header -->

<!-- Main -->
<div class="container">
    <div class="row">

        <!-- grey box 1 -->
        <div class="col-md-3">
            <!-- icon box top -->
            <div class="grey-box-icon">
                <div class="icon-box-top grey-box-icon-pos">
                    <img src="views/assets/images/1.png" alt="" />
                </div>

                <h4>Online Courses</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue
                    eset nec lacus elit dor broma.</p>

            </div>
        </div>

        <!-- grey box 2 -->
        <div class="col-md-3">
            <!-- icon box top -->
            <div class="grey-box-icon">
                <div class="icon-box-top grey-box-icon-pos">
                    <img src="views/assets/images/2.png" alt="" />
                </div>

                <h4>Meet our Staff</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue
                    eset nec lacus elit dor broma.</p>

            </div>
        </div>

        <!-- grey box 3 -->
        <div class="col-md-3">
            <!-- icon box top -->
            <div class="grey-box-icon">
                <div class="icon-box-top grey-box-icon-pos">
                    <img src="views/assets/images/3.png" alt="" />
                </div>

                <h4>Latest Updates</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue
                    eset nec lacus elit dor broma.</p>

            </div>
        </div>

        <!-- grey box 4 -->
        <div class="col-md-3">
            <!-- icon box top -->
            <div class="grey-box-icon">
                <div class="icon-box-top grey-box-icon-pos">
                    <img src="views/assets/images/4.png" alt="" />
                </div>

                <h4>Placements</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus eleifend risus ut congue
                    eset nec lacus elit dor broma.</p>

            </div>
        </div>

    </div>
</div>

<section class="news-box top-margin">
    <!-- New Course -->
    <div class="container">
        <h2>
            <span>Hot courses</span>
        </h2>

        <!-- Row -->
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-12">
                <div id="cat-courses" class="newsBox">
                    <div id="course">
                        <div class="thumbnail">
                            <div class="container">
                                <a href="google.com">
                                    <a href="#">
                                        <img class="img-responsive center-block"
                                            src="/resource/public/course/1/photo.png" alt="Course Image">
                                    </a>
                                </a>
                            </div>

                            <div class="caption">
                                <div id="cat-course-caption">
                                    <p>{{this.title}}</p>
                                </div>
                                <div id="cat-course-price">
                                    <p>$ {{this.price}}</p>
                                </div>
                                <div id="cat-course-field">
                                    <p>{{this.fieldName}}</p>
                                </div>
                                <div id="cat-course-lecturer">
                                    <p>{{this.lecturerName}}</p>
                                </div>
                                <div id="cat-course-status">
                                    <p>Complete</p>
                                </div>
                                <div id="cat-course-review">
                                    <p>
                                        ??? students &nbsp;
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </p>
                                    <p>
                                        &nbsp; &nbsp;
                                    </p>
                                    <p>
                                        {{this.likes}} likes &nbsp;
                                        <i class="fa fa-thumbs-up"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <div id="cat-courses" class="newsBox">
                    <div id="course">
                        <div class="thumbnail">
                            <div class="container">
                                <a href="google.com">
                                    <a href="#">
                                        <img class="img-responsive center-block"
                                            src="/resource/public/course/1/photo.png" alt="Course Image">
                                    </a>
                                </a>
                            </div>

                            <div class="caption">
                                <div id="cat-course-caption">
                                    <p>{{this.title}}</p>
                                </div>
                                <div id="cat-course-price">
                                    <p>$ {{this.price}}</p>
                                </div>
                                <div id="cat-course-field">
                                    <p>{{this.fieldName}}</p>
                                </div>
                                <div id="cat-course-lecturer">
                                    <p>{{this.lecturerName}}</p>
                                </div>
                                <div id="cat-course-status">
                                    <p>Complete</p>
                                </div>
                                <div id="cat-course-review">
                                    <p>
                                        ??? students &nbsp;
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </p>
                                    <p>
                                        &nbsp; &nbsp;
                                    </p>
                                    <p>
                                        {{this.likes}} likes &nbsp;
                                        <i class="fa fa-thumbs-up"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <div id="cat-courses" class="newsBox">
                    <div id="course">
                        <div class="thumbnail">
                            <div class="container">
                                <a href="google.com">
                                    <a href="#">
                                        <img class="img-responsive center-block"
                                            src="/resource/public/course/1/photo.png" alt="Course Image">
                                    </a>
                                </a>
                            </div>

                            <div class="caption">
                                <div id="cat-course-caption">
                                    <p>{{this.title}}</p>
                                </div>
                                <div id="cat-course-price">
                                    <p>$ {{this.price}}</p>
                                </div>
                                <div id="cat-course-field">
                                    <p>{{this.fieldName}}</p>
                                </div>
                                <div id="cat-course-lecturer">
                                    <p>{{this.lecturerName}}</p>
                                </div>
                                <div id="cat-course-status">
                                    <p>Complete</p>
                                </div>
                                <div id="cat-course-review">
                                    <p>
                                        ??? students &nbsp;
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </p>
                                    <p>
                                        &nbsp; &nbsp;
                                    </p>
                                    <p>
                                        {{this.likes}} likes &nbsp;
                                        <i class="fa fa-thumbs-up"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /End row -->

    </div>
</section>

<section class="news-box top-margin">
    <!-- New Course -->
    <div class="container">
        <h2>
            <span>Most view courses</span>
        </h2>

        <!-- Row -->
        <div class="row">

            <div class="container">
                <div class="col-md-12">
                    <div id="cat-courses" class="well">

                        <div id="most-courses-home-carousel" class="carousel slide">
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="row">
                                        <div id="course" class="col-md-4">
                                            <div class="thumbnail">
                                                <div class="container">
                                                    <a href="#">
                                                        <img class="img-responsive center-block"
                                                            src="/resource/public/course/1/photo.png"
                                                            alt="Course Image">
                                                    </a>
                                                </div>

                                                <div class="caption">
                                                    <div id="cat-course-caption">
                                                        <p>{{this.title}}</p>
                                                    </div>
                                                    <div id="cat-course-price">
                                                        <p>$ {{this.price}}</p>
                                                    </div>
                                                    <div id="cat-course-field">
                                                        <p>{{this.fieldName}}</p>
                                                    </div>
                                                    <div id="cat-course-lecturer">
                                                        <p>{{this.lecturerName}}</p>
                                                    </div>
                                                    <div id="cat-course-status">
                                                        <p>Complete</p>
                                                    </div>
                                                    <div id="cat-course-review">
                                                        <p>
                                                            ??? students &nbsp;
                                                            <i class="fa fa-user" aria-hidden="true"></i>
                                                        </p>
                                                        <p>
                                                            &nbsp; &nbsp;
                                                        </p>
                                                        <p>
                                                            {{this.likes}} likes &nbsp;
                                                            <i class="fa fa-thumbs-up"></i>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="course" class="col-md-4">
                                            <div class="thumbnail">
                                                <div class="container">
                                                    <a href="#">
                                                        <img class="img-responsive center-block"
                                                            src="/resource/public/course/2/photo.png"
                                                            alt="Course Image">
                                                    </a>
                                                </div>

                                                <div class="caption">
                                                    <div id="cat-course-caption">
                                                        <p>{{this.title}}</p>
                                                    </div>
                                                    <div id="cat-course-price">
                                                        <p>$ {{this.price}}</p>
                                                    </div>
                                                    <div id="cat-course-field">
                                                        <p>{{this.fieldName}}</p>
                                                    </div>
                                                    <div id="cat-course-lecturer">
                                                        <p>{{this.lecturerName}}</p>
                                                    </div>
                                                    <div id="cat-course-status">
                                                        <p>Complete</p>
                                                    </div>
                                                    <div id="cat-course-review">
                                                        <p>
                                                            ??? students &nbsp;
                                                            <i class="fa fa-user" aria-hidden="true"></i>
                                                        </p>
                                                        <p>
                                                            &nbsp; &nbsp;
                                                        </p>
                                                        <p>
                                                            {{this.likes}} likes &nbsp;
                                                            <i class="fa fa-thumbs-up"></i>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="course" class="col-md-4">
                                            <div class="thumbnail">
                                                <div class="container">
                                                    <a href="#">
                                                        <img class="img-responsive center-block"
                                                            src="/resource/public/course/3/photo.png"
                                                            alt="Course Image">
                                                    </a>
                                                </div>

                                                <div class="caption">
                                                    <div id="cat-course-caption">
                                                        <p>{{this.title}}</p>
                                                    </div>
                                                    <div id="cat-course-price">
                                                        <p>$ {{this.price}}</p>
                                                    </div>
                                                    <div id="cat-course-field">
                                                        <p>{{this.fieldName}}</p>
                                                    </div>
                                                    <div id="cat-course-lecturer">
                                                        <p>{{this.lecturerName}}</p>
                                                    </div>
                                                    <div id="cat-course-status">
                                                        <p>Complete</p>
                                                    </div>
                                                    <div id="cat-course-review">
                                                        <p>
                                                            ??? students &nbsp;
                                                            <i class="fa fa-user" aria-hidden="true"></i>
                                                        </p>
                                                        <p>
                                                            &nbsp; &nbsp;
                                                        </p>
                                                        <p>
                                                            {{this.likes}} likes &nbsp;
                                                            <i class="fa fa-thumbs-up"></i>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!--/row-->
                                </div>
                                <!--/item-->
                                <div class="item">
                                    <div class="row">
                                        <div id="course" class="col-md-4">
                                            <div class="thumbnail">
                                                <div class="container">
                                                    <a href="#">
                                                        <img class="img-responsive center-block"
                                                            src="/resource/public/course/4/photo.png"
                                                            alt="Course Image">
                                                    </a>
                                                </div>

                                                <div class="caption">
                                                    <div id="cat-course-caption">
                                                        <p>{{this.title}}</p>
                                                    </div>
                                                    <div id="cat-course-price">
                                                        <p>$ {{this.price}}</p>
                                                    </div>
                                                    <div id="cat-course-field">
                                                        <p>{{this.fieldName}}</p>
                                                    </div>
                                                    <div id="cat-course-lecturer">
                                                        <p>{{this.lecturerName}}</p>
                                                    </div>
                                                    <div id="cat-course-status">
                                                        <p>Complete</p>
                                                    </div>
                                                    <div id="cat-course-review">
                                                        <p>
                                                            ??? students &nbsp;
                                                            <i class="fa fa-user" aria-hidden="true"></i>
                                                        </p>
                                                        <p>
                                                            &nbsp; &nbsp;
                                                        </p>
                                                        <p>
                                                            {{this.likes}} likes &nbsp;
                                                            <i class="fa fa-thumbs-up"></i>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/row-->
                                </div>
                                <!--/item-->

                            </div>
                            <!--/carousel-inner--> <a class="left carousel-control" href="#most-courses-home-carousel"
                                data-slide="prev">‹</a>

                            <a class="right carousel-control" href="#most-courses-home-carousel" data-slide="next">›</a>
                        </div>
                        <!--/myCarousel-->
                    </div>
                    <!--/well-->
                </div>
            </div>

        </div>
        <!-- /End row -->

    </div>
</section>

<section class="news-box top-margin">
    <!-- New Course -->
    <div class="container">
        <h2>
            <span>Newest Courses</span>
        </h2>

        <!-- Row -->
        <div class="row">

            <div class="container">
                <div class="col-md-12">
                    <div id="cat-courses" class="well">

                        <div id="new-courses-home-carousel" class="carousel slide">
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <div class="row">
                                        <div id="course" class="col-md-4">
                                            <div class="thumbnail">
                                                <div class="container">
                                                    <a href="google.com">
                                                        <a href="#">
                                                            <img class="img-responsive center-block"
                                                                src="/resource/public/course/1/photo.png"
                                                                alt="Course Image">
                                                        </a>
                                                    </a>
                                                </div>

                                                <div class="caption">
                                                    <div id="cat-course-caption">
                                                        <p>{{this.title}}</p>
                                                    </div>
                                                    <div id="cat-course-price">
                                                        <p>$ {{this.price}}</p>
                                                    </div>
                                                    <div id="cat-course-field">
                                                        <p>{{this.fieldName}}</p>
                                                    </div>
                                                    <div id="cat-course-lecturer">
                                                        <p>{{this.lecturerName}}</p>
                                                    </div>
                                                    <div id="cat-course-status">
                                                        <p>Complete</p>
                                                    </div>
                                                    <div id="cat-course-review">
                                                        <p>
                                                            ??? students &nbsp;
                                                            <i class="fa fa-user" aria-hidden="true"></i>
                                                        </p>
                                                        <p>
                                                            &nbsp; &nbsp;
                                                        </p>
                                                        <p>
                                                            {{this.likes}} likes &nbsp;
                                                            <i class="fa fa-thumbs-up"></i>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="course" class="col-md-4">
                                            <div class="thumbnail">
                                                <div class="container">
                                                    <a href="google.com">
                                                        <a href="#">
                                                            <img class="img-responsive center-block"
                                                                src="/resource/public/course/2/photo.png"
                                                                alt="Course Image">
                                                        </a>
                                                    </a>
                                                </div>

                                                <div class="caption">
                                                    <div id="cat-course-caption">
                                                        <p>{{this.title}}</p>
                                                    </div>
                                                    <div id="cat-course-price">
                                                        <p>$ {{this.price}}</p>
                                                    </div>
                                                    <div id="cat-course-field">
                                                        <p>{{this.fieldName}}</p>
                                                    </div>
                                                    <div id="cat-course-lecturer">
                                                        <p>{{this.lecturerName}}</p>
                                                    </div>
                                                    <div id="cat-course-status">
                                                        <p>Complete</p>
                                                    </div>
                                                    <div id="cat-course-review">
                                                        <p>
                                                            ??? students &nbsp;
                                                            <i class="fa fa-user" aria-hidden="true"></i>
                                                        </p>
                                                        <p>
                                                            &nbsp; &nbsp;
                                                        </p>
                                                        <p>
                                                            {{this.likes}} likes &nbsp;
                                                            <i class="fa fa-thumbs-up"></i>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="course" class="col-md-4">
                                            <div class="thumbnail">
                                                <div class="container">
                                                    <a href="#">
                                                        <img class="img-responsive center-block"
                                                            src="/resource/public/course/3/photo.png"
                                                            alt="Course Image">
                                                    </a>
                                                </div>

                                                <div class="caption">
                                                    <div id="cat-course-caption">
                                                        <p>{{this.title}}</p>
                                                    </div>
                                                    <div id="cat-course-price">
                                                        <p>$ {{this.price}}</p>
                                                    </div>
                                                    <div id="cat-course-field">
                                                        <p>{{this.fieldName}}</p>
                                                    </div>
                                                    <div id="cat-course-lecturer">
                                                        <p>{{this.lecturerName}}</p>
                                                    </div>
                                                    <div id="cat-course-status">
                                                        <p>Complete</p>
                                                    </div>
                                                    <div id="cat-course-review">
                                                        <p>
                                                            ??? students &nbsp;
                                                            <i class="fa fa-user" aria-hidden="true"></i>
                                                        </p>
                                                        <p>
                                                            &nbsp; &nbsp;
                                                        </p>
                                                        <p>
                                                            {{this.likes}} likes &nbsp;
                                                            <i class="fa fa-thumbs-up"></i>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <!--/row-->
                                </div>
                                <!--/item-->
                                <div class="item">
                                    <div class="row">
                                        <div id="course" class="col-md-4">
                                            <div class="thumbnail">
                                                <div class="container">
                                                    <a href="#">
                                                        <img class="img-responsive center-block"
                                                            src="/resource/public/course/4/photo.png"
                                                            alt="Course Image">
                                                    </a>
                                                </div>

                                                <div class="caption">
                                                    <div id="cat-course-caption">
                                                        <p>{{this.title}}</p>
                                                    </div>
                                                    <div id="cat-course-price">
                                                        <p>$ {{this.price}}</p>
                                                    </div>
                                                    <div id="cat-course-field">
                                                        <p>{{this.fieldName}}</p>
                                                    </div>
                                                    <div id="cat-course-lecturer">
                                                        <p>{{this.lecturerName}}</p>
                                                    </div>
                                                    <div id="cat-course-status">
                                                        <p>Complete</p>
                                                    </div>
                                                    <div id="cat-course-review">
                                                        <p>
                                                            ??? students &nbsp;
                                                            <i class="fa fa-user" aria-hidden="true"></i>
                                                        </p>
                                                        <p>
                                                            &nbsp; &nbsp;
                                                        </p>
                                                        <p>
                                                            {{this.likes}} likes &nbsp;
                                                            <i class="fa fa-thumbs-up"></i>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/row-->
                                </div>
                                <!--/item-->

                            </div>
                            <!--/carousel-inner--> <a class="left carousel-control" href="#new-courses-home-carousel"
                                data-slide="prev">‹</a>

                            <a class="right carousel-control" href="#new-courses-home-carousel" data-slide="next">›</a>
                        </div>
                        <!--/myCarousel-->
                    </div>
                    <!--/well-->
                </div>
            </div>

        </div>
        <!-- /End row -->

    </div>
</section>

<section class="container">
    <div class="row">

        <!-- About section -->
        <div class="col-md-8">

            <!-- Ttile -->
            <div class="title-box clearfix ">
                <h2 class="title-box_primary">About Us</h2>
            </div>

            <!-- Description -->
            <p>
                <span>Perspiciatis unde omnis iste natus error sit voluptatem. Cum sociis natoque penatibus et magnis
                    dis
                    parturient montes ascetur ridiculus musull dui.</span>
            </p>
            <p>Lorem ipsumulum aenean noummy endrerit mauris. Cum sociis natoque penatibus et magnis dis parturient
                montes
                ascetur ridiculus mus. Null dui. Fusce feugiat malesuada odio.</p>
            <p>Lorem ipsumulum aenean noummy endrerit mauris. Cum sociis natoque penatibus et magnis dis parturient
                montes
                ascetur ridiculus mus. Null dui. Fusce feugiat malesuada odio.</p>
            <a href="#" title="read more" class="btn-inline " target="_self">read more</a>

        </div>

        <!-- Upcoming courses  section-->
        <div class="col-md-4">

            <!-- Title -->
            <div class="title-box clearfix ">
                <h2 class="title-box_primary">Top Fields</h2>
            </div>

            <!-- Upcoming courses list -->
            <div class="list styled custom-list">
                <ul>
                    <!-- Title show tooltip -->
                    <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus."
                            href="#">Mathematics and Computer Science</a></li>
                    <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus."
                            href="#">Mathematics and Philosophy</a></li>
                    <li><a title="Penatibus et magnis dis parturient montes ascetur ridiculus mus." href="#">Philosophy
                            and
                            Modern Languages</a></li>
                    <li><a title="Morbi nunc odio gravida at cursus nec luctus a lorem. Maecenas tristique orci."
                            href="#">History (Ancient and Modern)</a></li>
                    <li><a title="Snatoque penatibus et magnis dis partu rient montes ascetur ridiculus mus."
                            href="#">Classical
                            Archaeology and Ancient History</a></li>
                    <li><a title="Fusce feugiat malesuada odio. Morbi nunc odio gravida at cursus nec luctus."
                            href="#">Physics
                            and Philosophy</a></li>
                </ul>
            </div>

        </div>
    </div>

</section>
<!-- /.Main -->